@media (min-width: 1281px) {


    /*
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */
}

@media (min-width: 1100px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {


    /*
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
}

@media (min-width: 768px) and (max-width: 1024px) {


    /*
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
}

@media (min-width: 481px) and (max-width: 767px) {
    .header-ul {
        padding-top: 20px;
        display: block;
        list-style: none;
    }

    /*
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
}

@media (min-width: 320px) and (max-width: 480px) {

    .header-ul {
        padding-top: 20px;
        display: none;
        list-style: none;
    }
    .centering h1 {
        font-size: 40px;
    }

    .header-bg {
        background: #086972;
        padding: 10px 0;
    }

    .header-ul li:first-child {
        margin-left: 25px;
    }

    .logo-div {
        display: none;
    }

    .logo-div-mobile {
        margin: 0 -14px;
        display: block;
    }

    .logo-div-mobile img {
        width: 100%;
    }

    .logo-and-search {
        display: block;
    }

    .search-panel {
        padding: 10px 0;
    }

    .search-input {
        width: 88%;
    }

    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        display: none;
    }

    .b-tab {
        margin: 30px 10px 0;
    }

    .footer-logo {
        display: none;
    }

    .red-number-div h3 {
        margin-bottom: 0;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 13px;

    }

    .red-number-div h5 a {
        margin-bottom: 0;
        color: #fff;
        font-size: 10px;
    }

    .header-btn a {
        font-size: 12px;
        padding: 2px 5px 6px 5px;
    }

    .mobile-menu {
        width: 32px;
        display: flex;
        height: 32px;
        background: transparent;
        flex-flow: column;

    }
    .red-number-div {
        margin: 0;
    }
    .header-btn {
        margin: 0;
    }
    .header-responsive{
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
    }
}